<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-avatar slot="start">
      <img src="assets/images/valjoLogo.png" alt="Logo" />
    </ion-avatar>
    <ion-title>
      VALJO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sobre Nosotros</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Acerca de Nosotros</ion-card-title>
      <ion-card-subtitle>Protegemos tu marca, aseguramos tu inversión y cuidamos tu tranquilidad.</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      En VALJO creemos que toda gran idea o negocio merece ser protegido. Nuestro compromiso es ayudarte a registrar tu marca de manera rápida, sencilla y segura, para que puedas enfocarte en hacer crecer tu negocio sin preocupaciones legales.
    </ion-card-content>

      <ion-card-content>
      <ion-grid>
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col size="4" class="ion-text-center">
            <ion-img src="assets/images/b6739ac7b67c7133fc7757c8e38773ef.png"
            style="width: 80px; height: auto; margin: auto;"></ion-img>
          </ion-col>
          <ion-col size="4" class="ion-text-center">
            <ion-img src="assets/images/cc2239e6ea8646d30c168765e0f6911a.png" 
            style="width: 80px; height: auto; margin: auto;"></ion-img>
          </ion-col>
          <ion-col size="4" class="ion-text-center">
            <ion-img src="assets/images/d8ec618e049f89f6259462a384917f01.png"
            style="width: 80px; height: auto; margin: auto;"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Testimonios</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col size="4" class="ion-text-center">
            <ion-img class="img-rounded" src="assets/images/"
            style="width: 80px; height: auto; margin: auto;"></ion-img>
          </ion-col>
          <ion-col size="4" class="ion-text-center">
            &#64;jimenagallegotv
            <br>Presentadora, actriz, periodista, productora y cantante mexicana.​ Actualmente es presentadora del programa de televisión La casa de los famosos de Telemundo para Estados Unidos.​
          </ion-col>
          <ion-col size="4" class="ion-text-center">
            <ion-img class="img-rounded" src="assets/images/jimenagallego.png"
            style="width: 100px; height: auto; margin: auto;"></ion-img>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col size="4" class="ion-text-center">
            <ion-img class="img-rounded" src="assets/images/d28cd9bbf3d49b7d59074e654962369b.png"
            style="width: 80px; height: auto; margin: auto;"></ion-img>
          </ion-col>
          <ion-col size="4" class="ion-text-center">
            &#64;esegodoy93
            <br>Youtuber
          </ion-col>
          <ion-col size="4" class="ion-text-center">
            <ion-img class="img-rounded" src="assets/images/"
            style="width: 100px; height: auto; margin: auto;"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>

  </ion-card>

    <ion-card>
    <ion-card-header>
      <ion-card-title>+<span data-purecounter-start="0" 
                data-purecounter-end="300" 
                data-purecounter-duration="3"
                data-purecounter-once="false" 
                class="purecounter"></span> marcas registradas</ion-card-title>
      <ion-card-subtitle>Protegemos tu marca, aseguramos tu inversión y cuidamos tu tranquilidad.</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      En VALJO, hemos tenido el privilegio de registrar diversas marcas, brindando protección legal y asegurando la exclusividad a nuestros clientes.
    </ion-card-content>

      <ion-card-content>
      <ion-grid>
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col size="4" class="ion-text-center">
            <ion-img src="assets/images/b6739ac7b67c7133fc7757c8e38773ef.png"
            style="width: 80px; height: auto; margin: auto;"></ion-img>
          </ion-col>
          <ion-col size="4" class="ion-text-center">
            <ion-img src="assets/images/cc2239e6ea8646d30c168765e0f6911a.png" 
            style="width: 80px; height: auto; margin: auto;"></ion-img>
          </ion-col>
          <ion-col size="4" class="ion-text-center">
            <ion-img src="assets/images/d8ec618e049f89f6259462a384917f01.png"
            style="width: 80px; height: auto; margin: auto;"></ion-img>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col size="4" class="ion-text-center">
            <ion-img src="assets/images/90dbba3c221759d158ad7899911093f3.png"
            style="width: 80px; height: auto; margin: auto;"></ion-img>
          </ion-col>
          <ion-col size="4" class="ion-text-center">
            <ion-img src="assets/images/96de74b81f9f6f1f34f5c22f0892ef5f.png" 
            style="width: 80px; height: auto; margin: auto;"></ion-img>
          </ion-col>
          <ion-col size="4" class="ion-text-center">
            <ion-img src="assets/images/193a7367a901c159b174871074eab040.png"
            style="width: 80px; height: auto; margin: auto;"></ion-img>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col size="4" class="ion-text-center">
            <ion-img src="assets/images/706a6ac774264be19399fb5d387dcf97.png"
            style="width: 80px; height: auto; margin: auto;"></ion-img>
          </ion-col>
          <ion-col size="4" class="ion-text-center">
            <ion-img src="assets/images/766ca3ab8f2dccca423f74d8c883eb93.png" 
            style="width: 80px; height: auto; margin: auto;"></ion-img>
          </ion-col>
          <ion-col size="4" class="ion-text-center">
            <ion-img src="assets/images/991cf8a50d3449f73323ba511a16fab3.png"
            style="width: 80px; height: auto; margin: auto;"></ion-img>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col size="4" class="ion-text-center">
            <ion-img src="assets/images/901144e0694b9f3ce6b3424f1db96044.png"
            style="width: 80px; height: auto; margin: auto;"></ion-img>
          </ion-col>
          <ion-col size="4" class="ion-text-center">
            <ion-img src="assets/images/7387334b7269e873416b5c50fc39d4d3.png" 
            style="width: 80px; height: auto; margin: auto;"></ion-img>
          </ion-col>
          <ion-col size="4" class="ion-text-center">
            <ion-img src="assets/images/aae6a1dbddcd54fea40208d9ce9dbdba.png"
            style="width: 80px; height: auto; margin: auto;"></ion-img>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col size="4" class="ion-text-center">
            <ion-img src="assets/images/c4c7067de6161f2cdf5bc39726f8334b.png"
            style="width: 80px; height: auto; margin: auto;"></ion-img>
          </ion-col>
          <ion-col size="4" class="ion-text-center">
            <ion-img src="assets/images/c74dbee89f3e2853f50defefa158de59.jpg" 
            style="width: 80px; height: auto; margin: auto;"></ion-img>
          </ion-col>
          <ion-col size="4" class="ion-text-center">
            <ion-img src="assets/images/dfa276e2d6ca86d3f05f53dd0c7189b8.png"
            style="width: 80px; height: auto; margin: auto;"></ion-img>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col size="4" class="ion-text-center">
            <ion-img src="assets/images/fa17fc4b0e295ec9d7652da20b014cf3.png"
            style="width: 80px; height: auto; margin: auto;"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>

  </ion-card>
</ion-content>
