<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-avatar slot="start">
      <img src="assets/images/valjoLogo.png" alt="Logo" />
    </ion-avatar>
    <ion-title>
      VALJO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Servicios</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card >
    <ion-card-header>
      <ion-card-title>Conoce nuestros planes</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            PLAN ESTANDAR
          </ion-col>
          <ion-col>
            PLAN PROFESIONAL
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            $2,999 sin iva
          </ion-col>
          <ion-col>
            $6,999 sin iva
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col> Búsqueda y análisis en sistema del IMPI </ion-col>
          <ion-col> Búsqueda y análisis en sistema del IMPI </ion-col>
        </ion-row>

        <ion-row>
          <ion-col> 3 Búsquedas </ion-col>
          <ion-col> Búsquedas ilimitadas por clase </ion-col>
        </ion-row>

        <ion-row>
          <ion-col> 1 Cambio mínimo con nuestros diseñadores a tu Logo por Clase. </ion-col>
          <ion-col> 2 Cambios mínimos con nuestros diseñadores a tu Logo por clase. </ion-col>
        </ion-row>

        <ion-row>
          <ion-col> Examen de Viabilidad: (Fonético, Interactivo y Figurativo). (Gratis) </ion-col>
          <ion-col> Examen de Viabilidad: (Fonético, Interactivo y Figurativo). (Gratis) 24 hrs hábiles. </ion-col>
        </ion-row>

        <ion-row>
          <ion-col> Clasificación. (Gratis) </ion-col>
          <ion-col> Clasificación Niza de tu marca. (Gratis) </ion-col>
        </ion-row>

        <ion-row>
          <ion-col> Contrato “Reglas de uso”. (Gratis) </ion-col>
          <ion-col> Contrato “Reglas de uso”. (Gratis) </ion-col>
        </ion-row>

        <ion-row>
          <ion-col> Honorarios incluidos. ($1500) </ion-col>
          <ion-col> Honorarios incluidos. ($5000) </ion-col>
        </ion-row>

        <ion-row>
          <ion-col> 2 Clase o marca adicional: $2500. </ion-col>
          <ion-col> 2 Clase o marca adicional: $6000. </ion-col>
        </ion-row>

        <ion-row>
          <ion-col> 3 Clase o marca adicional: $2000 </ion-col>
          <ion-col> 3 Clase o marca adicional: $5500. </ion-col>
        </ion-row>

        <ion-row>
          <ion-col> Descuento adicional en honorarios por volumen de +4 clases </ion-col>
          <ion-col> Descuento adicional en honorarios por volumen de +4 clases. </ion-col>
        </ion-row>

        <ion-row>
          <ion-col> Reporte Mensual.  </ion-col>
          <ion-col> Reporte Mensual. </ion-col>
        </ion-row>

        <ion-row>
          <ion-col> Garantía: Si el instituto niega la marca, te devolvemos los HONORARIOS. </ion-col>
          <ion-col> Garantía: Si el instituto niega la marca, te devolvemos los HONORARIOS. </ion-col>
        </ion-row>

        <ion-row>
          <ion-col> No incluye contestación a oficios emitidos por el IMPI.  </ion-col>
          <ion-col> Incluye costo por contestación de Requisitos, Anterioridad o Impedimento Legal. (Primeros dos meses). </ion-col>
        </ion-row>

        <ion-row>
          <ion-col> No incluye pago de derechos al IMPI ($2813.77). Folio de pago en Banco. </ion-col>
          <ion-col> No incluye pago de derechos al IMPI ($2813.77). Folio de pago en Banco. </ion-col>
        </ion-row>

      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card class="custom-background">
    <ion-card-header>
      <ion-card-title>¿Que es el examen de viabilidad?</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>


    <ion-card-content>
<ion-grid>
  <ion-row>
    <ion-col size="4">
      🔊 <strong>Fonético:</strong><br>
      Compara la pronunciación con otras marcas para evitar similitudes.
    </ion-col>
    <ion-col size="4">
      🔄 <strong>Interactivo:</strong><br>
      Evalúa si la marca puede generar confusión en el mercado.
    </ion-col>
    <ion-col size="4">
      🎨 <strong>Figurativo:</strong><br>
      Revisa logotipos, colores o símbolos similares a otras marcas.
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4">
      📌 <strong>Ejemplo:</strong><br>
      "Bix Cola" vs. "Big Cola".
    </ion-col>
    <ion-col size="4">
      📌 <strong>Ejemplo:</strong><br>
      "Apple Tech" podría chocar con "Apple".
    </ion-col>
    <ion-col size="4">
      📌 <strong>Ejemplo:</strong><br>
      Un logo con arcos dorados vs. McDonald's.
    </ion-col>
  </ion-row>
</ion-grid>
<p>Este examen ayuda a evitar rechazos y proteger la identidad de la marca. 🚀</p>
    </ion-card-content>
  </ion-card>
  <ion-card >
    <ion-card-header>
      <ion-card-title>Tarifas</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>Búsqueda de disponibilidad y viabilidad de marca:</ion-col>
          <ion-col>$800.00 </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Solicitud de registro de marca (por  clase):</ion-col>
          <ion-col>$5,400.00</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Solicitud de Aviso Comercial o Nombre  comercial:</ion-col>
          <ion-col>$5,400.00 </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Solicitud de prioridad conforme a la  Convención Internacional:</ion-col>
          <ion-col>$1,500.00 </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Por la declaración de uso de marca:</ion-col>
          <ion-col>$2,500.00 </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Renovación de un registro de marca :</ion-col>
          <ion-col>$3,500.00</ion-col>
        </ion-row>
      </ion-grid>
      Nota:
      <ul>
        <li>En la mayoría de los casos, se aplican los honorarios mínimos establecidos. Sin embargo, cuando un asunto requiere una atención excepcional y una inversión significativa de tiempo y esfuerzo, los honorarios pueden ser mayores.</li>
        <li>Se puede otorgarse descuentos por volumen.</li>
        <li>Todos los honorarios y derechos mencionados son mínimos y no incluyen el 16% de IVA.</li>
      </ul>
    </ion-card-content>
  </ion-card>
  <ion-card class="custom-background">
    <ion-card-header>
      <ion-card-title>Esquema de pago</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>Primer pago (50%): Se realiza al inicio del trámite para cubrir la gestión y asesoría.</li>
        <li>Segundo pago (50%): Se liquida cuando se entrega el folio de pago para el IMPI.</li>
      </ul>
      <br>Este esquema garantiza transparencia y seguridad en el proceso de registro de marca.
      <br>Factura: se entrega un día después del Pago.

      <ion-img src="assets/images/5a7fe1906ce228b38bf12d68517a7b4f.png"
      style="width: 200px; height: auto; margin: auto;"></ion-img>
    </ion-card-content>
  </ion-card>
</ion-content>
