  <ion-menu side="start" menuId="third" contentId="service-content">
  <ion-header>
    <ion-toolbar>
      <ion-avatar slot="start">
        <img src="assets/images/valjoLogo.png" alt="Logo" />
      </ion-avatar>
      <ion-title>Servicios - Valjo</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item button routerLink="/home" menuClose>
        <ion-icon slot="start" name="home"></ion-icon>
        Inicio
      </ion-item>
      <ion-item button routerLink="/about" menuClose>
        <ion-icon slot="start" name="add-circle"></ion-icon>
        Sobre Nosotros
      </ion-item>
      <ion-item button routerLink="/services" menuClose>
        <ion-icon slot="start" name="library"></ion-icon>
        Servicios
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<br>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="third"></ion-menu-button>
      <img height="auto" width="10%" src="assets/images/valjoLogo.png" alt="Logo" />
      <ion-title>Servicios - Valjo</ion-title>
    </ion-buttons>

    <ion-buttons id="desktop-buttons" slot="end" class="desktop-only">
      <ion-button fill="solid" [routerLink]="['/home']">
        <ion-icon slot="start" name="home"></ion-icon>
        Inicio
      </ion-button>
      <ion-button fill="solid" [routerLink]="['/about']">
        <ion-icon slot="start" name="add-circle"></ion-icon>
        Sobre Nosotros
      </ion-button>
      <ion-button fill="solid" [routerLink]="['/services']">
        <ion-icon slot="start" name="library"></ion-icon>
        Servicios
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<br>
<ion-content [fullscreen]="true" id="service-content">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Conoce nuestros planes</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <ion-grid class="glass-grid">
      <ion-row>
        <ion-col size="12" size-md="6" size-lg="6">
          <div class="glass-card">
            <h1 class="planTitle1">Plan Estandar</h1>
            <ion-list lines="none">
              <ion-item>
                <ion-label><span class='bigger'>$2,999</span> <small>sin IVA</small></ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Búsqueda y análisis en sistema del IMPI. <br><small>(3 búsquedas)</small></ion-label>
              </ion-item>
              <ion-item>
                <ion-label>1 cambio mínimo con nuestros diseñadores a tu Logo por Clase.</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Examen de Viabilidad: <br><small>(Fonético, Interactivo y Figurativo). <b>Gratis</b></small></ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Clasificación. <b>Gratis</b></ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Contrato “Reglas de uso”. <b>Gratis</b></ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Honorarios incluidos. <small>($1500)</small></ion-label>
              </ion-item>
              <ion-item>
                <ion-label>2ª Clase o marca adicional: <b>$2500</b></ion-label>
              </ion-item>
              <ion-item>
                <ion-label>3ª Clase o marca adicional: <b>$2000</b></ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Descuento adicional en honorarios por volumen de <b>+4 clases</b>.</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Reporte Mensual.</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  Garantía: Si el instituto niega la marca, <b>te devolvemos los honorarios</b>.
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label><b>No incluye</b> contestación a oficios emitidos por el IMPI.</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <b>No incluye</b> pago de derechos al IMPI <small>($2813.77). Folio de pago en banco.</small>
                </ion-label>
              </ion-item>
            </ion-list>
            <!--<ion-button>Comprar</ion-button> -->
            <div id="paypal-button-container-estandar"></div>
          </div>
        </ion-col>

        <ion-col size="12" size-md="6" size-lg="6">
          <div class="glass-card">
            <h1 class="planTitle2">Plan Profesional</h1>
            <ion-list lines="none">
              <ion-item>
                <ion-label><span class='bigger'>$6,999</span> <small>sin IVA</small></ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  Búsqueda y análisis en sistema del IMPI. <small>(Búsquedas ilimitadas por clase)</small>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  2 cambios mínimos con nuestros diseñadores a tu Logo por clase.
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  Examen de Viabilidad: <br>
                  <small>(Fonético, Interactivo y Figurativo). <b>Gratis</b> – 24 hrs hábiles</small>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  Clasificación Niza de tu marca. <b>Gratis</b>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  Contrato “Reglas de uso”. <b>Gratis</b>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  Honorarios incluidos. <small>($5000)</small>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  2ª Clase o marca adicional: <b>$6000</b>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  3ª Clase o marca adicional: <b>$5500</b>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  Descuento adicional en honorarios por volumen de <b>+4 clases</b>.
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  Reporte Mensual.
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  Garantía: Si el instituto niega la marca, <b>te devolvemos los honorarios</b>.
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  Incluye costo por contestación de <b>Requisitos, Anterioridad o Impedimento Legal</b>. <small>(Primeros dos meses)</small>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <b>No incluye</b> pago de derechos al IMPI <small>($2813.77). Folio de pago en banco.</small>
                </ion-label>
              </ion-item>
            </ion-list>
            <!--<ion-button>Comprar</ion-button> -->
            <div id="paypal-button-container-pro"></div>
          </div>
          
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card class="custom-background">
    <ion-card-header>
      <ion-card-title>¿Que es el examen de viabilidad?</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
<ion-grid>

  <ion-row>
    <ion-col size="4">
      🔊 <strong>Fonético:</strong><br>
      Compara la pronunciación con otras marcas para evitar similitudes.
    </ion-col>
    <ion-col size="4">
      🔄 <strong>Interactivo:</strong><br>
      Evalúa si la marca puede generar confusión en el mercado.
    </ion-col>
    <ion-col size="4">
      🎨 <strong>Figurativo:</strong><br>
      Revisa logotipos, colores o símbolos similares a otras marcas.
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4">
      📌 <strong>Ejemplo:</strong><br>
      "Bix Cola" vs. "Big Cola".
    </ion-col>
    <ion-col size="4">
      📌 <strong>Ejemplo:</strong><br>
      "Apple Tech" podría chocar con "Apple".
    </ion-col>
    <ion-col size="4">
      📌 <strong>Ejemplo:</strong><br>
      Un logo con arcos dorados vs. McDonald's.
    </ion-col>
  </ion-row>
</ion-grid>
<p>Este examen ayuda a evitar rechazos y proteger la identidad de la marca. 🚀</p>
    </ion-card-content>
  </ion-card>
  <ion-card >
    <ion-card-header>
      <ion-card-title>Tarifas</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>Búsqueda de disponibilidad y viabilidad de marca:</ion-col>
          <ion-col>$800.00 </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Solicitud de registro de marca (por  clase):</ion-col>
          <ion-col>$5,400.00</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Solicitud de Aviso Comercial o Nombre  comercial:</ion-col>
          <ion-col>$5,400.00 </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Solicitud de prioridad conforme a la  Convención Internacional:</ion-col>
          <ion-col>$1,500.00 </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Por la declaración de uso de marca:</ion-col>
          <ion-col>$2,500.00 </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Renovación de un registro de marca :</ion-col>
          <ion-col>$3,500.00</ion-col>
        </ion-row>
      </ion-grid>
      Nota:
      <ul>
        <li>En la mayoría de los casos, se aplican los honorarios mínimos establecidos. Sin embargo, cuando un asunto requiere una atención excepcional y una inversión significativa de tiempo y esfuerzo, los honorarios pueden ser mayores.</li>
        <li>Se puede otorgarse descuentos por volumen.</li>
        <li>Todos los honorarios y derechos mencionados son mínimos y no incluyen el 16% de IVA.</li>
      </ul>
    </ion-card-content>
  </ion-card>
  <ion-card class="custom-background">
    <ion-card-header>
      <ion-card-title>Esquema de pago</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>Primer pago (50%): Se realiza al inicio del trámite para cubrir la gestión y asesoría.</li>
        <li>Segundo pago (50%): Se liquida cuando se entrega el folio de pago para el IMPI.</li>
      </ul>
      <br>Este esquema garantiza transparencia y seguridad en el proceso de registro de marca.
      <br>Factura: se entrega un día después del Pago.

      <ion-img src="assets/images/5a7fe1906ce228b38bf12d68517a7b4f.png"
      style="width: 200px; height: auto; margin: auto;"></ion-img>
    </ion-card-content>
  </ion-card>
</ion-content>
